* {
  margin: 0px;
}

.app {
  height: 100vh;
  background-image: url("./background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.app__board {
  width: 457px;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border: 3px solid grey;
}

@media (max-width: 700px) {
  .app__board {
    width: 307px;
  }
}

.app__score {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.score__player {
  background-color: whitesmoke;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
}
